@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Luxurious+Roman&family=Raleway:ital,wght@0,200;1,200;1,300&display=swap');
body{
  padding: 10px;
  margin: 0;
}
.main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #ccc;
}
.light{
  /* background-color: #; */
  background-color: #fff;
}
.dark{
  background-color: black;
}
.newslist{
  border: 1px solid #333;
  padding: 10px;
  width: 300px;
  margin: 5px;
}
.newslist-img{
  width: 100%;
  max-height: 170px;
}
.newslist-link{
  text-decoration: none;
  color: #333;font-family: 'Luxurious Roman', cursive;
  font-weight: 600;
}
.newslist-text{
  font-family: 'Istok Web', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  color: #666;
  width: 300px;
}
.search{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 350px;
  padding: 10px;
}
.input{
  width: 200px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
  font-family: istok web;
}
.input:hover{
  box-shadow:  0 0 20px 3px #444;
  transition: .4s;
}
.select{
  width: 80px;
  height: 35px;
  border: 1px solid #333;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
}
